@media (max-width: 600px) {
  .ourTeamIcons {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 430px) {
  .ourTeamIcons {
    height: 100px;
    width: 100px;
  }
}

.iconfb:hover {
  cursor: pointer;
  color: #1877f2;
}
.iconinsta1:hover {
  cursor: pointer;
  color: #d62976;
}
.iconinsta2:hover {
  cursor: pointer;
  color: #1877f2;
}
.icontwitter:hover {
  cursor: pointer;
  color: rgb(29, 155, 240);
}

.culture-card {
  position: relative;
  left: 0px;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
