.text-box {
  display: inline-block;
  position: relative;
}
.videoTag {
  background: transparent;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: auto;
  position: relative;
}
.textMainClass {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 69px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 10.8378px;
  background: #000b52;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

video {
  filter: opacity(100%);
  -webkit-filter: opacity(100%);
}

@media only screen and (max-width: 900px) {
  .textMainClass {
    font-size: 3rem;
    letter-spacing: 5.8378px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .textMainClass {
    font-size: 3.5rem;
    letter-spacing: 3.8378px;
  }
  .videoTag {
    margin-left: "500px";
  }
}

.textMainClassGradient {
  background: linear-gradient(to right, #0038ff 0%, #ad00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textMainTopeClass {
  font-family: "Inter";
  font-style: normal;
  margin-top: 0;
  font-weight: 550;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #5552ff;
}
