.navbarListText {
  font-family: "Jeko Bold";
  font-style: normal;
  font-weight: 750;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #c9c9c9;
  text-decoration: none;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
}
.navbarListText:hover {
  background: linear-gradient(
    to right,
    rgba(201, 75, 234, 1) 0%,
    11.84210553765297%,
    rgba(112, 62, 195, 1) 23.68421107530594%,
    34.21052619814873%,
    rgba(59, 33, 140, 1) 44.736841320991516%,
    55.04385977983475%,
    rgba(26, 16, 66, 1) 65.35087823867798%,
    72.14912474155426%,
    rgba(54, 9, 52, 1) 78.94737124443054%,
    89.47368562221527%,
    rgba(170, 2, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navbarListTextActive {
  font-family: "Jeko Bold";
  font-style: normal;
  font-weight: 750;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(201, 75, 234, 1) 0%,
    11.84210553765297%,
    rgba(112, 62, 195, 1) 23.68421107530594%,
    34.21052619814873%,
    rgba(59, 33, 140, 1) 44.736841320991516%,
    55.04385977983475%,
    rgba(26, 16, 66, 1) 65.35087823867798%,
    72.14912474155426%,
    rgba(54, 9, 52, 1) 78.94737124443054%,
    89.47368562221527%,
    rgba(170, 2, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.MenuIcon {
  width: 90%;
  height: auto;
  max-width: 35px;
}
.Text:hover .navbarListTextActive.navbarListText {
  background: linear-gradient(
    to right,
    rgba(201, 75, 234, 1) 0%,
    11.84210553765297%,
    rgba(112, 62, 195, 1) 23.68421107530594%,
    34.21052619814873%,
    rgba(59, 33, 140, 1) 44.736841320991516%,
    55.04385977983475%,
    rgba(26, 16, 66, 1) 65.35087823867798%,
    72.14912474155426%,
    rgba(54, 9, 52, 1) 78.94737124443054%,
    89.47368562221527%,
    rgba(170, 2, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Text:hover .navbarListTextActive {
  background: linear-gradient(
    to right,
    rgba(201, 75, 234, 1) 0%,
    11.84210553765297%,
    rgba(112, 62, 195, 1) 23.68421107530594%,
    34.21052619814873%,
    rgba(59, 33, 140, 1) 44.736841320991516%,
    55.04385977983475%,
    rgba(26, 16, 66, 1) 65.35087823867798%,
    72.14912474155426%,
    rgba(54, 9, 52, 1) 78.94737124443054%,
    89.47368562221527%,
    rgba(170, 2, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.Text:hover .navbarListText {
  background: linear-gradient(
    to right,
    rgba(201, 75, 234, 1) 0%,
    11.84210553765297%,
    rgba(112, 62, 195, 1) 23.68421107530594%,
    34.21052619814873%,
    rgba(59, 33, 140, 1) 44.736841320991516%,
    55.04385977983475%,
    rgba(26, 16, 66, 1) 65.35087823867798%,
    72.14912474155426%,
    rgba(54, 9, 52, 1) 78.94737124443054%,
    89.47368562221527%,
    rgba(170, 2, 87, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 960px) {
  .navbarListText {
    font-size: 25px;
    line-height: 40px;
  }
  .navbarListTextActive {
    font-size: 25px;
    line-height: 50px;
  }
  .MenuIcon {
    width: 90%;
    height: auto;
    max-width: 22px;
  }
}
