@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "MBFCanno";
  src: url("../src/assets/Fonts/MBFCannoRegular/MBFCannoRegular.otf");
}

@font-face {
  font-family: "MBFCanno";
  src: url("../src/assets/Fonts/MBFCannoRegular/MBFCannoRegular.otf");
}

body {
  background: #000;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
  /* user-select: none; */
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* .carousel.indicators {
  bottom: 50px !important;
}
ul .indicators {
  bottom: 50px !important;
} */
.indicators {
  bottom: 161px !important;
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 52%;
  }
}

@font-face {
  font-family: "MBFCanno";
  src: url("../src/assets/Fonts/MBFCannoRegular/MBFCannoRegular.otf");
}
@font-face {
  font-family: "LGBold";
  src: url("../src/assets/Fonts/LG/LabilGrotesk-Bold.ttf");
}
@font-face {
  font-family: "LGLight";
  src: url("../src/assets/Fonts/LG/LabilGrotesk-Light.ttf");
}
@font-face {
  font-family: "LGMedium";
  src: url("../src/assets/Fonts/LG/LabilGrotesk-Medium.ttf");
}
@font-face {
  font-family: "LGRegular";
  src: url("../src/assets/Fonts/LG/LabilGrotesk-Regular.ttf");
}
@font-face {
  font-family: "LGThin";
  src: url("../src/assets/Fonts/LG/LabilGrotesk-Thin.ttf");
}
@font-face {
  font-family: "LGTrial";
  src: url("../src/assets/Fonts/LG/labilgrotesktrial-regular.otf");
}
@font-face {
  font-family: "MBFCanno";
  src: url("../src/assets/Fonts/MBFCannoRegular/MBFCannoRegular.otf");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../src/assets/Fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
  font-family: "Jeko Bold";
  src: url("../src/assets/Fonts/FontsFree-Net-Jeko-Bold.ttf");
}

@font-face {
  font-family: "JekoNormal";
  src: url("../src/assets/Fonts/Jeko/JekoDEMO-Medium.otf");
}

::-webkit-scrollbar {
  display: none;
}
.cursor {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10000;
  mix-blend-mode: difference;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.whatsappicon {
  width: 40px;
  position: fixed;
  top: 85%;
  right: 3%;
  z-index: 10;
}
@media (max-width: 1200px) {
  .whatsappicon {
    right: 5%;
  }
}
@media (max-width: 768px) {
  .whatsappicon {
    right: 6%;
  }
}
@media (max-width: 600px) {
  .whatsappicon {
    right: 8%;
  }
}
@media (max-width: 450px) {
  .whatsappicon {
    right: 13%;
  }
}

.cta {
  transition: all 0.2s ease;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  /* background: rgba("#FFAB9D", 0.5); */
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  font-family: Jeko Bold;
  position: relative;
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

@media (max-width: 320px) {
  .cta span {
    font-size: 12px;
  }
}

.cta-left:hover,
.cta-left::before {
  left: 7%;
  border: "1px solid gray";
}

.cta-right:hover,
.cta-right::before {
  right: 7%;
  border: "1px solid gray";
}

.cta:hover,
.cta::before img {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

.content {
  position: relative;
}

.content h2 {
  font-size: 9rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
.marquee-container::after {
  content: none !important;
}
/* TEXT ANIMATION START */
/* .textAnimWrapper {
  animation: changecolorText 4s linear infinite;
  transition: 0.3s all;
}
@keyframes changecolorText {
  from {
    padding: 0;
  }
  to {
    padding: 50px;
  }
} */
/* TEXT ANIMAITON END */

/*  input type text css */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  /* border-bottom: none !important; */
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.contact-box:focus {
  border-bottom: 2px solid black !important;
}

input[type="text"] {
  outline: none;
  /* border-bottom: none !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.marquee-container .marquee {
  position: unset !important;
}

/* <Box>
          <Stack sx={{ marginTop: {} }}>
            <Typography sx={careertext}>Join a team</Typography>
          </Stack>
        </Box>
        <Box
          className="content"
          display="flex"
          alignItems="center"
          justifyContent="center"
          sx={{
            padding: {
              xl: "2rem",
              lg: "2rem",
              md: "2rem",
              sm: "2rem",
              xs: "2rem",
            },

            width: "95%",
            marginLeft: "auto",
            marginRight: "auto",
            marginY: "5rem",
          }}
        >
          <h2>Be part of a team who makes an</h2>
          <h2>Be part of a team who makes an</h2>
        </Box>
        <Box
          className="content"
          display="flex"
          alignItems="center"
          justifyContent="center"
          sx={{
            padding: {
              xl: "2rem",
              lg: "2rem",
              md: "2rem",
              sm: "2rem",
              xs: "2rem",
            },

            width: "95%",
            marginLeft: "auto",
            marginRight: "auto",
          }}
        >
          <h2 style={{ textAlign: "center" }}> impact.</h2>
          <h2 style={{ textAlign: "center" }}> impact.</h2>
        </Box> */
